.TextField-without-border-radii fieldset {
  border: 0;
  padding: 0px;
}
.TextField-without-border-radii input{
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
}

.light-Text input{
  color: #444a4a;
}

.dark-Text input{
  color: rgba(255, 255, 255, 0.85)
}