.TextField-without-border-radius fieldset {
  border: 0;
  padding: 0px;
}
.TextField-without-border-radius input{
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
}