.AboutMainField fieldset {
  border: 0;
  padding: 0px;
}
.AboutMainField input{
    padding-left: 8px;
    padding-right: 14px;
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 14px;
    font-weight: 500;
}

.light-Text input{
  color: rgba(8, 15, 15, 0.75);
}

.dark-Text input{
  color: rgba(255, 255, 255, 0.75);
}