.AboutMainField fieldset {
  border: 0;
  padding: 0px;
}
.AboutMainField input{
    padding-left: 8px;
    padding-right: 14px;
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 14px;
    font-weight: 500;
}

.Light-Text input{
  color: #444a4a;
}