.AboutMainField fieldset {
  border: 0;
  padding: 0px;
}
.AboutMainField textarea{
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 14px;
    font-weight: 500;
}

.light-Text textarea{
  color: rgba(8, 15, 15, 0.75);
}

.dark-Text textarea{
  color: rgba(255, 255, 255, 0.75);
}